body {
    font: 11pt calibri;
}

.container { padding-left:0px !important }

.input {
    border: 1pt solid gray;
    padding: 2pt;
    overflow: hidden;
    white-space: nowrap;
}

.button {
    border: 1pt solid gray;
    cursor: pointer;
    padding: 2pt 5pt;
    display: inline-block;
}

.settings, .presencelegenddiv {
    border: 1pt solid lightgray;
    padding: 5px;
    margin: 2px;
    width:800px;
}
.settingsbox {padding-top:10px; vertical-align:middle;}

.welcomebox {
    padding: 5px;
    margin: 2px;
    width:800px;
}

.alert {
    padding: 10px !important;
    margin-bottom: 5px !important;
    border-radius: 2px !important;
}

.button:hover {
    background: lightgray;
}

.signinframe {
    xpadding: 10pt 50px;
    width: 300px;
}

.layout {
    padding-left: 60px;
    padding-top: 10px;
}

.signinframe > div {
    margin-bottom: 3pt;
}

.signinframe > .button {
    margin-top: 8pt;
}



.modal-backdrop {
    background-color: rgba(128, 128, 128, 0.6) !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1000 !important;
}

.modal {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 100px;
    z-index: 1020 !important;
    background-color: #FFF;
    border-radius: 6px;
    display: none;
}

.modal-header {
    background-color: #0094ff;
    color: #FFF;
    border-top-right-radius: 2px !important;
    border-top-left-radius: 2px !important;
}

.modal-header h3 {
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 20px;
}

.modal-header h3 .close-modal {
    float: right;
    text-decoration: none;
    color: #FFF;
}

.modal-body {
    padding: 0 10px 0 10px;
}


.spin {
     -webkit-transform-origin: 50% 58%;
     transform-origin:50% 50%;
     -ms-transform-origin:50% 50%; /* IE 9 */
     -webkit-animation: spin 1.5s infinite linear;
     -moz-animation: spin 1.5s infinite linear;
     -o-animation: spin 1.5s infinite linear;
     animation: spin 1.5s infinite linear;
}


@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lowheight {height:24px;}

.hiddendiv {
opacity: 0;
}
.hiddendiv:hover {
opacity: 1;
}

/* custom alert box for DND status */
.alert-dnd {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #ff0000;
    border-width: 2px;
}
